# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Build output
build/
dist/

# Dependency directories
jspm_packages/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.sublime-workspace
*.sublime-project
*.tmp
*.temp

# Ignoring working directory
working/
env